[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-storages = "*"
click = "*"
thoth-common = "*"
requests = "*"
prometheus-client = "*"
pyyaml = "==3.12"

[dev-packages]
coala-bears = "*"

[requires]
python_version = "3.6"
