[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
prometheus-client = "*"
pyyaml = "*"
thoth-python = "*"
thoth-common = "*"
thoth-storages = "*"
thoth-messaging = "*"

[dev-packages]
pylint = "*"
coala = "*"
coala-bears = "*"
black = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
