[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
prometheus-client = "*"
pyyaml = "*"
thoth-python = "*"
thoth-common = "*"
thoth-storages = "*"
thoth-messaging = "*"
aiohttp = "*"
mode = "==4.0.0"
faust = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pytest-mypy = "*"

[requires]
python_version = "3.6"
